rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /evaluations_pdf/{evalId}/{allPaths=**} {
      allow read, write: if true;
    }
    match /evaluations_pages/{evalId}/{allPaths=**} {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
